
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

$color_1: #f14444;
$color_2: #444;
$color_3: #fff;
$border_color_1: #ccc;
$border_color_2: #fff;
$border_color_3: #f14444;
$book_cover_size: 100px;

nav.navbar-findcond {
  background: #fff;
  border-color: $border_color_1;
  box-shadow: 0 0 2px 0 #ccc;
  a {
    color: $color_1;
  }
  ul.navbar-nav {
    a {
      color: $color_1;
      border-style: solid;
      border-width: 0 0 2px 0;
      border-color: $border_color_2;
      &:hover {
        background: #fff;
        border-color: $border_color_3;
      }
      &:visited {
        background: #fff;
      }
      &:focus {
        background: #fff;
      }
      &:active {
        background: #fff;
      }
    }
  }
  ul.dropdown-menu {
    >li {
      >a {
        color: $color_2;
        &:hover {
          background: #f14444;
          color: $color_3;
        }
      }
    }
  }
}

.img-book-cover {
  width: $book_cover_size;
  height: $book_cover_size;
}

.vote-arrow {
  line-height: 0;
  cursor: pointer;
}

.vote-arrow.like:hover {
  color: $success;
}

.vote-arrow.number:hover {
  color: $color_2;
}

.vote-arrow.hate:hover {
  color: $color_1;
}

textarea {
  resize: none;
}

.cursor-pointer {
  cursor: pointer;
}